body{
    background-image: url(../img/Fondo_Oscuro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    background-color: #2cb5a0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #00eef7;
}


/* Estilo para la zona de incrustación de mensajes */
.contenedor {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh; 
    background-color: transparent;
    margin: 0%;
    padding: 0;
}


.tarjeta {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}


.grupo {
    margin-bottom: 15px;
}


.grupo input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


input[type="submit"]:hover {
    background-color: #45a049;
}

.muestras{
    display:flex;
    justify-content: right;
    align-items: center;
    background-color: transparent;
}

/* La parte para insertar imagenes */

.drop_area {
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom:10px ;
}

.drop_area:hover {
    background-color: #f0f0f0;
}

.drop_area input[type="file"] {
    display:flex; 
}

.drop_area::before {
    text-align: center;
}

.drop_area.active {
    background-color: #e0ffe0;
    border-color: #00cc00;
    color: #00cc00;
}



/* Estilo de la tabla */
table {
    width: 60%; 
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px; 
    text-align: left; 
}


thead tr {
    background-color: #4CAF50; 
    color: white; 
}


thead th {
    padding: 12px 15px; 
    text-transform: uppercase; 
}

tbody{
    background-color: #ffffffab;
}

tbody td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}


#imagenes{
    padding-left:41px;
    display:inline-block;
    transform:translatex(0px) translatey(0px) !important;
    width:281px;
   }

/* Espacio para los botones */
.Btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: rgb(16, 138, 91);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(16, 138, 91);
    transition-duration: .3s;
  }
  
  .svg {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
  }
  
  .Btn:hover {
    color: transparent;
  }
  
  .Btn:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
  }
  
  .Btn:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(0, 223, 137);
  }

  .noselect {
    width: 100px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   .noselect, button span {
    transition: 200ms;
   }
   
   .noselect .text {
    transform: translateX(20px);
    color: white;
    font-weight: bold;
   }
   
   .noselect .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(90px);
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .noselect svg {
    width: 15px;
    fill: #eee;
   }
   
   .noselect:hover {
    background: #ff3636;
   }
   
   .noselect:hover .text {
    color: transparent;
   }
   
   .noselect:hover .icon {
    width: 75px;
    border-left: none;
    transform: translateX(0);
   }
   
   .noselect:focus {
    outline: none;
   }
   
   .noselect:active .icon svg {
    transform: scale(0.8);
   }

/* Zona login */
h1 {
    color:#c5c5bf;
}

.login{
    width: 100%;
    height: 100%;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 20px #424444;
    width: 300px;
    display: flex;
    margin: 10% 38%;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 5%;
    padding-bottom:0px;
}

.login h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    padding-top:15px ;
    text-shadow: #916565;

}

.input-login {
    margin-bottom: 15px;

}

label {
    display: block;
    margin-bottom: 5px;
}

.input-login input {
    background-color: #704646;
    border: none;
    outline: none;
    max-width: 190px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #fff;
}

.guardador {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.guardador:hover {
    background-color: #218838;
}
button {
    --primary-color: #704646ea;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}
  
button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}
  
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}
  
button:hover {
    background-color: var(--hover-color);
}
  
button:hover .arrow {
    background: var(--secondary-color);
}
  
button:hover .arrow:before {
    right: 0;
}
.login h1{
    text-align:center;
    letter-spacing:2.7px;
    transform:translatex(0px) translatey(-51px);
    font-size:40px;
    min-height:102px;
   }
   
   .login{
    padding-top:90px;
    width:425px;
    transform:translatex(-100px) translatey(4px);
   }
   .login form{
    transform:translatex(13px) translatey(-38px);
    margin-top:19px;
   }
   
   