/* CAMBIOS GENERALES */
body {
  background-image: url(../img/Fondo_Blanco.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
body.active {
  background-image: url(../img/DC_img/FondoOscuro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

h2 {
  font-family:'Alef', sans-serif;
}
section {
  border:none;
  padding: 20px;
  margin: 10px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}
section>h1 {
  font-size: 32px;
  color: #666;
  margin-bottom: 15px;
  font-family:'Alef', sans-serif;
}
section>p {
  font-size: 16px;
  color: #444;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif
}
button {
  padding: 15px 45px;
  background: #FFDB58;
  font-size: 17px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  border: 1px solid #fec195;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
}

button:hover {
  border: 1px solid #f3b182;
background-color: #f8d040;
}

@keyframes wind {
  0% {
    background-position: 0% 50%;
  }

  0% {
    background-position: 50% 100%;
  }

  0% {
    background-position: 0% 50%;
  }
}

/* HEADER */

header {
  background-image: url(../img/header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: inherit;
  padding: 10px;}

header nav > ul > li > a{
  transform:translatex(-3px) translatey(-13px);
  font-size:22px;
  line-height:2.4em;
  display:inline-block;
}
header a img{
  display:inline-block;
  transform:translatex(0px) translatey(13px);
}
 
nav ul {
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  height:57px;
}

nav li {
  display: inline;
  float: left;
}

nav li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3;
  font-size: 20px;
}

nav li a:hover {
  background-color: rgb(247, 223, 9);
}
nav>ul>li>ul {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 0, 0.904);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 70px;
}
nav>ul>li:hover>ul{
  display: block;
}

nav>ul>li>ul>a:hover{
background-color: #46B941;
}
#container {
  background-color: #cecece;
  position: relative;
  width:80px ;
  height: 40px;
  box-shadow: inset 4px 4px 6px #cecece,
              inset -4px -4px 6px #Fff;
  margin-top: 10px;
  border-radius: 25px;
  cursor: pointer; 

}
.toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  transform: scale(.7);
  background-color: linear-gradient(145deg, #D8D8D8, #FFFFFF  );
  border-radius: 25px;
  box-shadow: 3px 3px 8px #c4c4c4,
              -3px -3px 8px #fff;
}
#container.active .toggle {
left:40px;
}
/* SECCION 1  Plancha*/
strong {
  font-family: Arial, Helvetica, sans-serif;
}
section marquee{
  display:inline-block;
  transform:translatex(0px) translatey(0px) !important;
 }
section marquee strong{
  color:#252525;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing:4.2px;
  word-spacing:4px;
}
marquee{
line-height:39.4px !important;
font-size:27px !important;
font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;
}
section section marquee strong{
  font-family:'Alfa Slab One', display;
}
section section marquee strong{
  color:#f0f0d8;
  font-family:'aRIAL' !important;
 }

 .caja_personeria{
  background-color: #607848;
  border-radius: 20px;
  margin: 20px;
  width: 50%;
 }
 .caja_personeria img{
  display: absolute;
  margin-left: 60%;
  border-radius: 20px;
  margin-top: 10px;
 }
 .caja_personeria h2{
  color: #f8d040;
  position:relative;
  bottom:226px;
  right:0px;
 }

#fondo {
  width: 100%;
  padding-top:5px !important;
}


section>h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family:'Alef', sans-serif;
  color:#5e2828 !important;

}
#espacio{
  display: flex;
  align-items: stretch; 
}

.article1{
  border: 1px solid #ccc;
  padding: 5px 10px 5px 10px;
  background-color: #f0f0f0;
  float: left;
  width: 45%; 
  max-height: 40%;
  overflow-y: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.article2 {
  border: 1px solid #ccc;
  padding: 0;
  margin: 3%;
  background-color: #f0f0f0;
  float: right;
  width: 45%;
  max-height: 40%;
  overflow-y: auto;
  font-family: Arial, Helvetica, sans-serif;
}
#espacio .article4 {
  transform:translatex(36px) translatey(10px);
 margin-right:101px !important;
 padding-right:150px !important;
 padding-left:150px !important;
 margin-left:72px !important;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #789048;
  padding: 4px 10px;
  margin: 5px 0;
 border-radius: 1rem;
 margin-left: auto;
 margin-right: auto;
 padding-bottom: 20px;
 box-shadow: rgb(55, 58, 59) 0;
 border: none;
 color: whitesmoke;
   box-shadow: 0 0.4rem #607848;
   font-size: 1rem;
}
#espacio {
  background-color: transparent transparent;
  font-family:'Alef', sans-serif;
  border-radius: 15px;
}
#seccion2 {
  background-color: transparent;
  text-align: center;
  font-family:'Alef', sans-serif;
  color:#5e2828 !important;

}
#seccion2 .h2{
  text-align: center;
  font-family:'Alef', sans-serif; 
}
#espacio .article1{
  text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 background-color: #789048;
 padding: 4px 10px;
 margin: 5px 0;
border-radius: 1rem;
margin-left: auto;
margin-right: auto;
padding-bottom: 20px;
box-shadow: rgb(55, 58, 59) 0;
border: none;
color: whitesmoke;
  box-shadow: 0 0.4rem #607848;
  font-size: 1rem;
}
#espacio .article2{
  text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 background-color: #789048;
 padding: 4px 10px;
 margin: 5px 0;
border-radius: 1rem;
margin-left: auto;
margin-right: auto;
padding-bottom: 20px;
box-shadow: rgb(55, 58, 59) 0;
border: none;
color: whitesmoke;
  box-shadow: 0 0.4rem #607848;
  font-size: 1rem;
}
#Ef{text-align: right;}

/* REFLEXION */

#reflexion{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #789048; 
  padding: 4px 10px;
  margin: 1rem;
 border-radius: 1rem;
 margin-left: 18rem;
 margin-right: 18rem;
 padding-bottom: 20px;
 border: none;
 color:whitesmoke;
 box-shadow: 0 0.4rem #607848;
   font-size: 1rem;
}

/* HORA/FECHA/CLIMA */

h2#hoy {
  font-size:30px ;
  line-height:1em ;
  text-transform:uppercase;
  letter-spacing:1.2px ;
  text-align: left ;
font-family:'Amiko', sans-serif;
color: #333;
}
span#horaActual {
  font-size:200px ;
  margin:20px 0px 2px;
  line-height:1em ;
  padding-top: 1px;
  letter-spacing:2.0rem ;
  color: #333 !important;
}
span#fecha {
  text-align: right;
  letter-spacing: 1.5px;
}
.titular {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color:#604848;
}
/* GALERIA */

.galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color:aquamarine;
}

img#art{
  float: right;
  margin-bottom: 52px;

}
.imagen {
  text-align: center;
}
.imagen img {
  background-color: #Fff;
  padding: 5px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.imagen h3 {
  margin: 10px 0;
}
a button {
  transform:translatex(950px) translatey(0px);
  font-size:25px;
}

.icon-1 {
  position:absolute;
  top: 0;
  right: 0;
  width: 25px;
  transform-origin: 0 0;
  transform: rotate(10deg);
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
}

button:hover .icon-1 {
  animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
  transform: rotate(10deg);
}

@keyframes slay-1 {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.icon-2 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 12px;
  transform-origin: 50% 0;
  transform: rotate(10deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}

button:hover .icon-2 {
  animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0);
  }
}

.icon-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  transform-origin: 50% 0;
  transform: rotate(-5deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}

button:hover .icon-3 {
  animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-3 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}
.contenedor-imagenes {
  float: right;
  width: 60px; /* Ancho deseado */
  height: 50px; /* Alto deseado */
  border: 3px solid #789048;
}
#interludio{
        width: 30%;
        height: 30%;
}
#Sc_Dg_2{
  width: 5%;
  height: 5%;
  float: right;
}


/*/ estilo para las tarjetas de noticieros en LUCRECIO AL DÍA */

.tarjeta_informativa{
  background-color:  #f0f0d8;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  width: 400px;
  height:unset;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.tarjeta_informativa img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.tarjeta_informativa h2 {
  font-size: 1.5em;
  margin: 15px 0 10px;
  color: #333;
}
.tarjeta_informativa p {
  font-size: 1em;
  color: #666;
  line-height: 1.5;
}

/* ZONA RETOS MENTALES */

#reto{
  background-color: #704646ea;
  height: 300px ;
  display: block;
  margin: 5% 40%;
  align-content: center ;
}

#reto img{
  height: 275px;
  margin-left: 8px;
}

/* FOOTER */

footer {
  text-align: right;
  background-color: #c0d860;
  color: #604848;
  padding: 10px;
  clear: both;
  height: auto;
}

section section footer{
  text-align:right;
 }
#Bf strong{
  color:#000000;
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#Bff{
  position:relative;
  bottom:-29px;
     text-decoration: none;
     font-family:cursive;
     margin-top: 2%;
     margin-left: 5%;
     float: left;
     padding: 15px 45px;
   background: #789048;
   font-size: 17px;
   font-weight: 500;
   color: black;
   cursor: pointer;
   border: 1px solid #607848;
   border-radius: 8px;
   filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
   top:14px;

  }
#Bf{
  color:#241d1d;
  text-decoration:none;
 }
/* CREDITOS */
.card-client {
  float: left;
  position: relative;
  align-items: center;
  background: #2cb5a0;
  width: 13rem;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right:60px;
  margin-left:-5px;
  margin-top: 5%;
  padding-right:5px;
  padding-left:0px;
  left: 10%;
  border: 4px solid #7cdacc;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.card-client:hover {
  transform: translateY(-10px);
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid #7cdacc;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}
.ilustrador {
  position:relative;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 20%;
  text-align: center;
}
/* BOTON DARKMODE */
#container {
  background-color: #cecece;
  position: relative;
  width:80px ;
  height: 40px;
  box-shadow: inset 4px 4px 6px #cecece,
              inset -4px -4px 6px #Fff;
  margin-top: 10px;
  border-radius: 25px;
  cursor: pointer; 

}
.toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  transform: scale(.7);
  background-color: linear-gradient(145deg, #000000, #FFFFFF  );
  border-radius: 25px;
  box-shadow: 3px 3px 8px #777676,
              -3px -3px 8px #fff;
}
#container.active .toggle {
left:40px;
}
body.active {
  background-image: url(../img/Fondo_Oscuro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}